ion-toolbar{
    --background:green;
}
h1{
    text-align: center;
    position: relative; 
    right: 30px;
    color:white; 
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  }
  ion-back-button{
      color:white;
  }


.BtnContinuar{
    width: 30%;
    height: 5%;
    --background:rgb(5, 197, 5);
    margin-left: 35%;
    margin-top: 1%;
    --border-radius:10px; 
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --background-activated:rgb(5, 160, 5); 
}

.item{
    padding: 3%;
}
p{
    text-align:justify;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0 ;
}

p + p{
    text-indent: 1.5em;
    margin-top: 0 ;
}