<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="white"></ion-back-button>
        </ion-buttons>
        <h1>Introdução</h1>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="item">
        <p>
            Os nativos digitais (consideramos aqui, as gerações Y, Z e Alfa) acessam a Web mais pelo smartphone mobile
            do
            que pelo computador. Com a evolução das Tecnologias de Informação e Comunicação – TIC o uso de aplicativos,
            mídias e redes sociais (Facebook, Twitter, YouTube e WhatsApp) pelos professores e acadêmicos/estudantes em
        </p>
        <p>
            O aplicativo Inquiry pode estimular o engajamento dos acadêmicos e utilização do smartphone mobile na
            construção
            do conhecimento científico e tecnológico para uma ACT ampliada na perspectiva da ação social (agir na
            sociedade), levando em considerações as concepções da suposta neutralidade da CT, o que pode refletir nas
            práticas educativas dos futuros professores em sala de aula.
        </p>
        <p>
            Assim, compreendemos a necessidade de problematização dos “mitos” ligados a neutralidade da CT: i)
            superioridade
            do modelo de decisões tecnocráticas; ii) perspectiva salvacionista da CT; e iii) determinismo tecnológico,
            para
            depois abordar o MABI. Por isso, criamos na sequência um espaço para essas reflexões sobre a suposta
            neutralidade da CT.
        </p>
    </div>


    <ion-button class='BtnContinuar' routerLink="/novaproposta" expand='block' routerDirection="forward">Continuar
    </ion-button>

</ion-content>