ion-toolbar{
    --background:purple;
}
h1{
    text-align: center;
    position: relative; 
    right: 30px;
    color:white;
    font-size: 16px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  }
  ion-back-button{
      color:white;
  }

  ion-icon{
    color:white;
  }

  .ion-text-wrap{
    font-size: 14px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }