ion-toolbar{
    --background:#2B78E4;
}

ion-menu-button{
    color:white;
}

h3{
    margin-left: 3%;
      color:white;
}

.item{
    text-align: justify; 
    padding: 3%;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }