ion-toolbar{
    --background:#2B78E4;
}

ion-menu-button{
    color:white;
}

h3{
    margin-left: 3%;
      color:white;
}

.item{
    font-size: 21px;
    text-align: justify; 
    padding: 7%;
  }