<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <h1>Sobre o aplicativo</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="item item-text-wrap">
    <p>
      No mundo mobile o termo “application”, em inglês, tem a abreviação “app”, que significa na tradução para o português
      aplicativo, sendo um software para realização de tarefas específicas, geralmente essas tarefas são ligadas ao
      processamento de dados/informações. Assim, o aplicativo Inquiry foi desenvolvido para auxiliar e oferecer aos
      formadores de professores e acadêmicos em Ciências da Natureza (consideramos aqui, as Ciências Biológicas, Física e
      Química), uma forma prática, investigativa, inclusiva, interdisciplinar e dinâmica de trabalhar a abordagem de
      Ensino Baseado em Investigação – EBI, em articulação com as relações Ciência-Tecnologia-Sociedade - CTS e de
      ativismo, almejando uma Alfabetização Científica e Tecnológica – ACT ampliada na perspectiva da ação social dos
      acadêmicos e a construção de uma proposta didática nesta perspectiva de ensino.
    </p>
  </div>
</ion-content>