ion-toolbar{
    --background:#2B78E4;
}

ion-menu-button{
    color:white;
}

h1{
    font-size: 20px;
    margin-left: 3%;
    color:white;
}

.item{
    padding: 5%;
  }

  p {
    text-align: justify; 
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
    text-indent: 1.5em;
  }