<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button color="white"></ion-back-button>
      </ion-buttons>
    <ion-avatar slot="start" >
      <img src="assets/perfil2.jpg">
    </ion-avatar>
    

    <h3>João Pedro</h3>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button class='Btn1' size="large" expand='block' routerLink="/textoexplicativo" routerDirection="forward">
    <ion-icon name="document" class="i1"></ion-icon>
    <h1 class="titulo1">Atividade investigativas<p class="text2">Inicie a construção<br>da sua proposta didática</p></h1>
  </ion-button>

  <ion-button class='Btn2' size="large" expand='block' routerLink="/login1" routerDirection="forward">
    <ion-icon class="i2" name="folder"></ion-icon>
    <h1 class="titulo2">Minhas propostas<p class="text2">Confira todas as<br>suas propostas didáticas</p></h1>
 </ion-button>

  <ion-button class='Btn3' size="large" expand='block' routerLink="/cadastro" routerDirection="forward">
    <ion-icon name="cloud" class="i3"></ion-icon>
    <h1 class="titulo">Propostas disponíveis<p class="text2">Confira as propostas<br>didáticas compartilhadas</p>
    </h1>
  </ion-button>


</ion-content>