.red{
    --background: red;
    color:white;
    padding: 0;
    width: 37%;
    height: 25px;
}

.green{
    --background: green;
    color:white;
    padding: 0;
    width: 31%;
    height: 25px;
}