ion-toolbar{
    --background:#2B78E4;
}


ion-menu-button{
    color:white;
  }
  h1{
    margin-left: 5%;
      color:white; 
      font-size: 16px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  }

    p {
        margin-bottom: 0;
        text-align: justify;
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    p + p {
        text-indent: 1.5em;
        margin-top: 0; 
    }

  .mylabel{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .item{
    padding: 3%;
  }

  ion-avatar{
    margin-left: 15px; 
  }

  ion-slides{
    height: initial; 
      .slide-inner{
      
        .margin-top{
            position: absolute;
        }    
         
        .Btn1 { 
            width: 96%;
            height: 22%;
            margin-top: 2%;  
            margin-left: 2%;
            --border-radius: 5%;
            --background:rgb(2, 168, 2);
            --background-activated: rgb(2, 138, 2);
        }


        .Btn2 { 
            width: 96%;
            height: 20%;
            margin-top: 3%;  
            margin-left: 2%;
            --border-radius: 5%;
            --background:purple;
            --background-activated: rgb(95, 0, 95);
        }
        
        .Btn3 { 
            width: 96%;
            height: 22%;
            margin-top: 3%;  
            margin-left: 2%;
            --border-radius: 5%;
            --background:red;
            --background-activated: rgb(206, 1, 1);
        }
        ion-icon{  
            margin-right: 8%; 
            position: absolute;
            left: 25px;
        }
        img{  
            padding: 10%;
        }
        .titulo1{
            bottom: 7px;
            position: relative;
            text-align: left;
            font-size:16px;
            left: 43px;
            font-weight: bold;
            text-transform: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .titulo2{
            bottom: 7px;
            text-align: left;
            font-size:16px;
            position: relative;
            left:30px;
            font-weight: bold;
            text-transform: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .titulo3{
            bottom: 7px;
            position: relative;
            text-align: left;
            font-size:16px;
            font-weight: bold;
            left: 36px;
            text-transform: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .i1{
            font-size: 64px;
        }
        .i2{
            font-size: 64px;
        }
        .i3{
            font-size: 64px;
        }
        .text{
            position: relative;
            font-size:14px;
            top:5px;
            font-weight: normal;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
      
        }
      
  }


  