ion-toolbar{
    --background:blue;
}
h1{
    text-align: center;
    position: relative; 
    right: 30px;
    color:white;  
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  }
  ion-back-button{
      color:white;
  }


  p+p{
    margin-top:0;
    text-indent: 1.5em;
  }

  ion-icon{
    color:white;
  }
  div{
    padding: 3%;
  }

  p{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    text-align: justify;
    margin-bottom: 0;
}