<ion-header>
  <ion-toolbar>
    <ion-button (click)="close()" slot='start' fill="clear">
      <ion-icon name="arrow-back" size="large"></ion-icon>
    </ion-button>
    <h1>Orientação</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <p>
    {{this.orientacoes[0]["t1"]}}
  </p>
  <p>
    {{this.orientacoes[0]["t2"]}}
  </p>
  <p>
    {{this.orientacoes[0]["t3"]}}
  </p>
  <p>
    {{this.orientacoes[0]["texto1"]}}
  </p>
  <p>
    {{this.orientacoes[0]["texto2"]}}
  </p>
  <p>
    {{this.orientacoes[0]["texto3"]}}
  </p>
  <p>
    {{this.orientacoes[0]["texto4"]}}
  </p>
  <p>
    {{this.orientacoes[0]["texto5"]}}
  </p>
  <p>
    {{this.orientacoes[0]["texto6"]}}
  </p>
</div>

</ion-content>