ion-icon{
    color:black;
  }

.ion-margin{
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    padding: 3%;
}

h3{
  text-align: center;
  position: relative; 
  right: 30px;
  color:black;
  font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

ion-label{
  color:blue;
}