<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white"></ion-back-button>
    </ion-buttons>
    <h3>Contexto</h3>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item  class="input1" lines="none">
        <ion-textarea  rows="10" cols="20" type = 'text' placeholder = 'Descrever aqui o contexto e controvérsias encontrados na realidade dos acadêmicos/estudantes para posterior escolha da QSC. Para esse momento sugere-se que seja realizado pelo diálogo de maneira coletiva.'></ion-textarea>
      </ion-item>


</ion-content>