<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white"></ion-back-button>
    </ion-buttons>
    <h3>Minhas propostas<br>didáticas</h3>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-card *ngFor="let proposta of propostas;let i = index" (click)='visualizar(i)'>
        <ion-card-content>
            <ion-item lines="none">
                <ion-label class="label1" >{{proposta.qsc}} </ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-label> Pergunta Central: {{proposta.central}} </ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-label> Pergunta Específica: {{proposta.especifica}} </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-list>


</ion-content>