<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <h3>Meus dados</h3>
    </ion-toolbar>
  </ion-header>

<ion-content>

    <ion-item lines>
      <ion-label position="floating">Nome</ion-label>  
      <ion-input type = 'text'  [(ngModel)]="userDados.displayName"></ion-input>
    </ion-item>
    <ion-item >
        <ion-input [type] = 'passwordType' placeholder="Nova senha" [(ngModel)]="password"></ion-input>
        <ion-icon name="eye" color="gray"  item-end (click)="togglePassword()"></ion-icon>
    </ion-item>
    <ion-item lines>
        <ion-label>Email: {{userDados.email}}</ion-label>
    </ion-item>
    <ion-item lines *ngIf="!uploadPercent">
        <img [src]="user.photoURL" *ngIf="user.photoURL">
    </ion-item>
    <ion-item *ngIf="uploadPercent">
        <img [src]="userDados.photoURL" *ngIf="userDados.photoURL">
    </ion-item>
    <ion-item *ngIf="uploadPercent">
        <ion-progress-bar  [value]="uploadPercent | async"></ion-progress-bar>
    </ion-item>
    

    <ion-button class = 'Btn' color="warning" (click) = 'fotos()' expand = 'block'  >Trocar Foto</ion-button>


    <ion-button class = 'Btn' (click) = 'salvar()' expand = 'block'  >Salvar</ion-button>
    <ion-button class = 'Btn' color="danger" (click) = 'excluir()' expand = 'block'  >Excluir conta</ion-button>
</ion-content>
