<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <h1>Meus dados</h1>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-item lines="none" *ngIf="!uploadPercent">
    <ion-avatar >
      <img [src]="user.photoURL" *ngIf="user.photoURL">
    </ion-avatar>
    <ion-button class="BtnCam" icon-only color="warning" item-right (click)='fotos()'>
      <ion-icon name="camera"></ion-icon>
    </ion-button>
  </ion-item >

  <ion-item lines="none" *ngIf="uploadPercent">
    <ion-avatar>
      <img [src]="userDados.photoURL" *ngIf="userDados.photoURL">
    </ion-avatar>
    <ion-button class="BtnCam" icon-only item-right (click)='fotos()'>
      <ion-icon color="warning" name="camera"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item lines="none" *ngIf="uploadPercent && !userDados.photoURL" >
    <ion-progress-bar [value]="uploadPercent | async"></ion-progress-bar>
  </ion-item>



  <ion-item lines>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type='text' [(ngModel)]="userDados.displayName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [type]='passwordType' placeholder="Nova senha" [(ngModel)]="password"></ion-input>
    <ion-icon name="eye" color="gray" item-end (click)="togglePassword()"></ion-icon>
  </ion-item>
  <ion-item lines>
    <ion-label>Email: {{userDados.email}}</ion-label>
  </ion-item>




  <ion-button class='Btn1' (click)='salvar()' expand="block" >Salvar</ion-button>


  <ion-button class='Btn2'  (click)='excluir()' expand="block" >Excluir conta</ion-button>


</ion-content>