<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
         <ion-back-button (click)="update()" color="white"></ion-back-button>
        </ion-buttons>  
        <h3>Aplicação em<br>situações novas</h3>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-row>
      <ion-col size = "6">
        <ion-button class = 'Btn1' (click)="mostrarOrientacao()" >
          <ion-icon  name = "people" class="i1"></ion-icon>
          <h1 class ="titulo1">Orientação</h1>
        </ion-button>
      </ion-col>
      
     <ion-col size ="6">
       <ion-button class = 'Btn2'>
         <ion-icon  class = "i1" name = "paper"></ion-icon>
         <h1 class ="titulo1">Enviar Materiais</h1>
       </ion-button>  
     </ion-col> 
   </ion-row> 
    
   <ion-item  class="input1" lines="none">
      <ion-textarea [(ngModel)]="proposta.acao" rows="10" cols="20" type = 'text' placeholder = 'Aplicação em situações novas (Projetos alternativas de C e T)'></ion-textarea>
  </ion-item>

   
  </ion-content>
  
